<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:\Users\mayakaushik\API_TRACK\REST_1">
            <classes>
                <class name = "RestAssured">
                    <methods>
                        <include name="get_call" />
                        <include name="put_call" />
                    </methods>
                </class>
            </classes>
    </test>
</suite>